.super-mario {
    width: 200px;
  }
  
  .goomba {
    width: 70px;
    position: absolute;
    top: 330px;
    left: 170px;
  }
  
  .baloon {
      position: absolute;
      top: 100px;
      width: 200px;
      z-index: 1;
      left: 360px;  
      -webkit-transform: scaleX(-1);
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 230px;
    left: 250px;
  }
  .speach {
      position: absolute;
      top: 100px;
      left: 400px;
      width: 150px;
      z-index: 2;
  }